@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #f0f2f5;
}

.App {
  text-align: center;
  padding: 30px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}
.parking-area{
  .parking-container {
    position: relative;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid red; /* hoặc có thể set viền nào bạn muốn */
  }
  
  .parking-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    width: 100px; /* độ dài đoạn viền */
    background-color: white;
  }
  
  .parking-entrance{
    border: 6px solid green;
    width: 100%;
    height: 200px;
    display: flex;
    .outside-left{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e0f7fa;
    }
    .exit-way{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b2ebf2;
    }
    .entry-way{
      width: 25%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #80deea;
    }
    .outside-right{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4dd0e1;
    }
  }
}


.parking-slot {
  // margin-top: 20px;
  
  padding: 20px;
  // background: #fff;
  border-radius: 20px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  // border: 6px solid red;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.card .icon  {
  font-size: 48px;
  margin-bottom: 10px;
  img {
    width: 60px;
    height: 96px;
  }
}

.card .slot-label {
  font-size: 20px;
  font-weight: 600;
}

.card .status-text {
  font-size: 18px;
  margin-top: 8px;
}

.card.empty {
  border: 3px solid #4caf50;
  color: #4caf50;
}

.card.occupied {
  border: 3px solid #9e9e9e;
  color: #9e9e9e;
}
