@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

// body {
//   margin: 0;
//   font-family: 'Rubik', sans-serif;
//   // background: #f0f2f5;
// }

// .App {
//   text-align: center;
//   padding: 30px;
// }

// h1 {
//   color: #333;
//   margin-bottom: 40px;
// }
.parking-area{
  // margin-left: 125px;
  // margin-right: 62px;
  background-color: #e9edf5;
  color: #e9edf5;
  .parking-container {
    margin-left: 145px;
    margin-top: 20px;
    padding-top: 25px;
    position: relative;
    height: 600px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 6px solid red; /* hoặc có thể set viền nào bạn muốn */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18); // đổ bóng viền ngoài
    border-radius: 20px; // tuỳ chọn, giúp bóng mềm mại hơn
  }
  
  .parking-entrance{
    // border: 6px solid green;
    margin-left: 125px;
    width: 1500px;
    height: 180px;
    display: flex;
    .outside-left{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #e0f7fa;
    }
    .exit-way{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FEE2E2;
    }
    .entry-way{
      width: 25%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #D5FFCE;
    }
    .exit-way, .entry-way {
      position: relative;
      .arrow-icon {
        font-size: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #e53935; // đỏ cho exit
        &.entry {
          color: #43a047; // xanh cho entry
        }
      }
    }
    .outside-right{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #4dd0e1;
    }
  }
}


.parking-slot {
  // margin-top: 20px;
  
  padding: 20px;
  // background: #fff;
  border-radius: 20px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  // border: 6px solid red;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.card .icon  {
  font-size: 48px;
  margin-bottom: 10px;
  img {
    width: 60px;
    height: 96px;
  }
}

.card .slot-label {
  font-size: 20px;
  font-weight: 600;
}

.card .status-text {
  font-size: 18px;
  margin-top: 8px;
}

.card.empty {
  border: 3px solid #4caf50;
  color: #4caf50;
}

.card.occupied {
  border: 3px solid #9e9e9e;
  color: #9e9e9e;
}
